
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-avatar {
  width: 100px;
  height: 100px;
  border-radius: 64px;
}  
.mdl-layout-title
{
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.material-icons
{
	color: white;
  font-size: 24px;
  font-weight: 300;
}
.demo-drawer-header
{
	color: white;
  font-size: 14px;
  font-weight: 450;
  padding: 20px;
	
}
.demo-drawer-header {  
  display: -webkit-flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  
}

.demo-chart:nth-child(1) {
  color: #800080;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  }
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-cards .mdl-card__actions a {
  color: #DA70D6;
}
